:root {
  --color: 180, 122, 255;
}

* {
  color: white;
  user-select: none;
  padding: 0;
  margin: 0;
}

a {
  color: rgb(var(--color));
  text-decoration: underline;
}

h2 {
  margin: 5px 0 5px 0;
  text-align: center;
}

hr {
  margin: 10px 0 10px 0;
  border-top: 1px dashed rgb(var(--color));
  border-bottom: 1px dashed rgb(var(--color));
}

body {
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace, serif;
  background-color: #111111;
}
