$screens: (
  sm: 640px,
  md: 768px,
  lg: 1024px,
);
$bestColor: #b47aff;

@mixin media-screen($screen) {
  @media (max-width: map-get($screens, $screen)) {
    @content;
  }
}

* {
  color: white;

  user-select: none;

  padding: 0;
  margin: 0;
}

a {
  color: rgba($bestColor, 0.75);
  text-decoration: underline;

  &:hover {
    animation: blink 1s infinite;
  }
}

h2 {
  margin: 0 0 5px 0;
  text-align: center;
}

hr {
  margin: 10px 0 10px 0;
}

body {
  /* -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
     sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol; */
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace, serif;

  background-color: #111111;
}

div.container {
  margin: 5px 200px 0 200px;

  @include media-screen(lg) {
    margin: 5px 5px 0 5px;
  }
}

nav.navbar {
  display: flex;
  flex-wrap: wrap;

  justify-content: space-between;
  align-items: center;

  margin: 0 0 5px 0;
  padding: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

  background-color: rgba($bestColor, 0.1);

  span {
    display: inline-block;

    margin-left: 3px;

    width: 3px;
    height: 20px;

    background-color: $bestColor;

    animation: blink 1s infinite;
  }
}

div.main {
  padding: 5px;
  background-color: rgba($bestColor, 0.1);

  div.me {
    text-align: center;
  }

  div.card {
    display: flex;
    flex-wrap: wrap;

    padding: 10px;

    justify-content: center;
    align-items: center;

    background-color: rgba($bestColor, 0.1);

    img {
      margin: 0 10px 0 0;

      border-radius: 50%;
      border: var(--status-color) solid 3px;
    }

    div.others {
      max-width: 300px;

      div.status {
        display: flex;

        align-items: center;
        justify-content: center;

        max-width: 300px;

        img {
          display: none;

          cursor: pointer;

          margin: 0 10px 0 0;

          width: 50px;
          border: rgba(black, 0.1) solid 3px;
          border-radius: 50%;

          animation: spin 10s linear infinite;
        }
      }
    }
  }

  div.i-know,
  div.i-love {
    align-items: center;
    justify-content: center;

    div.badges {
      display: flex;

      flex-wrap: wrap;

      justify-content: center;

      div.mysterious-person {
        &:hover {
          animation: rainbow-bg 1.5s linear infinite;
        }
      }

      div {
        display: flex;

        align-items: center;

        margin: 0 5px 5px 5px;
        padding: 5px;

        background-color: rgba($bestColor, 0.25);

        border-top-left-radius: 10px;
        border-bottom-right-radius: 10px;

        &:hover {
          img {
            transform: rotate(10deg);
          }
        }

        img {
          transition: 0.25s;
          padding: 5px 5px 5px 0;
        }
      }
    }
  }
}

footer {
  display: flex;

  justify-content: center;

  height: 20px;

  margin: 5px 0 0 0;
  padding: 10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

  background-color: rgba($bestColor, 0.1);

  img {
    margin: 0 5px 0 5px;
    cursor: pointer;
    transition: 0.25s;

    &:hover {
      transform: rotate(20deg);
    }
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

// https://codepen.io/zak/pen/rWJzPy
@keyframes rainbow-bg {
  100%,
  0% {
    background-color: rgb(255, 0, 0);
  }
  8% {
    background-color: rgb(255, 127, 0);
  }
  16% {
    background-color: rgb(255, 255, 0);
  }
  25% {
    background-color: rgb(127, 255, 0);
  }
  33% {
    background-color: rgb(0, 255, 0);
  }
  41% {
    background-color: rgb(0, 255, 127);
  }
  50% {
    background-color: rgb(0, 255, 255);
  }
  58% {
    background-color: rgb(0, 127, 255);
  }
  66% {
    background-color: rgb(0, 0, 255);
  }
  75% {
    background-color: rgb(127, 0, 255);
  }
  83% {
    background-color: rgb(255, 0, 255);
  }
  91% {
    background-color: rgb(255, 0, 127);
  }
}
